<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        ===
        This comment should NOT be removed.

        Charisma v2.0.0

        Copyright 2012-2014 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
        ===
    -->
    <meta charset="utf-8">
    <title>Free HTML5 Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    {# !!! IMPORTANT !!!
        With mod_rewrite enabled in included .htaccess CSS link href needs absolute paths
    #}

    <link id="bs-css" href="{{ constant('URL') }}public/css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="{{ constant('URL') }}public/css/charisma-app.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}bower_components/fullcalendar/dist/fullcalendar.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}bower_components/fullcalendar/dist/fullcalendar.print.css" rel='stylesheet' media='print'>
    <link href="{{ constant('URL') }}bower_components/chosen/chosen.min.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}bower_components/colorbox/example3/colorbox.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}bower_components/responsive-tables/responsive-tables.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}public/css/jquery.noty.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}public/css/noty_theme_default.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}public/css/elfinder.min.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}public/css/elfinder.theme.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}public/css/jquery.iphone.toggle.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}public/css/uploadify.css" rel='stylesheet'>
    <link href="{{ constant('URL') }}public/css/animate.min.css" rel='stylesheet'>

    <!-- jQuery -->
    <script src="{{ constant('URL') }}bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="{{ constant('URL') }}img/favicon.ico">

</head>

<body>

{% if hide_menus != true  %}
    {% include "_templates/header.twig" %}
{% endif %}

<div class="ch-container">
    <div class="row">

        {% if hide_menus != true %}
            {% include "_templates/leftmenu.twig" %}
        {% endif %}

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->

            {% if hide_menus != true %}
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">{{ breadcrumb_position }}</a>
                    </li>
                </ul>
            </div>
            {% endif %}

            {% block content %}
            {% endblock content %}

    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

{% if hide_menus != true %}
    <!-- Ad, you can remove it -->
    <div class="row">
        <div class="col-md-9 col-lg-9 col-xs-9  hidden-xs">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Charisma Demo 2 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-5108790028230107"
                 data-ad-slot="3193373905"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="col-md-2 col-lg-3 col-sm-12 col-xs-12 donate">
            <div>
                <small>Help development of Charisma</small>
            </div>
            <a class="btn btn-default" href="http://flattr.com/thing/1507720/usmanhalalitcharisma-on-GitHub"
               target="_blank"><i class="glyphicon glyphicon-usd green"></i> Donate</a>
        </div>

    </div>
    <!-- Ad ends -->

    <hr>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://usman.it" target="_blank">Muhammad
                Usman</a> 2012 - {{ "now"|date("Y") }}
 </p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
                href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
    </footer>

{% endif %}

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="{{ constant('URL') }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="{{ constant('URL') }}public/js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src="{{ constant('URL') }}bower_components/moment/min/moment.min.js"></script>
<script src="{{ constant('URL') }}bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<!-- data table plugin -->
<script src="{{ constant('URL') }}public/js/jquery.dataTables.min.js"></script>

<!-- select or dropdown enhancer -->
<script src="{{ constant('URL') }}bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="{{ constant('URL') }}bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="{{ constant('URL') }}public/js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="{{ constant('URL') }}bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="{{ constant('URL') }}bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="{{ constant('URL') }}public/js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="{{ constant('URL') }}public/js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="{{ constant('URL') }}public/js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="{{ constant('URL') }}public/js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="{{ constant('URL') }}public/js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script id="charisma.js" src="{{ constant('URL') }}public/js/charisma.js"></script>

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26532312-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();
    </script>

</body>
</html>
